@import '../../../../scss/variables.scss';

.study-items--container {
    border        : solid 1px $highlights;
    border-left   : solid 3px $highlights;
    margin-bottom : 10px;
    padding       : 8px;

    p {
        line-height : 18px;
        margin      : 0;
    }
}

p.study-item--date {
    font-size     : 16px;
    color         : #616161;
    margin-bottom : 3px;
}

p.study-item--label {
    font-size : 18px;
    color     : $dark-highlights;
}

p.study-item--detail {
    font-size : 16px;
    color     : #616161;
}

p.study-item--where {
    font-size : 16px;
    color     : #616161;
}
