@import '../../scss/variables.scss';
@import '../../scss/flex.scss';

.CV-container {
    width          : 100%;
    margin         : auto auto 30px;
    border-top     : none;
    vertical-align : top;
}

.CV-thunk {
    margin         : 35px 0;
    width          : 100%;
    padding-bottom : 50px;

    @include flexbox;
    @include justify-content(space-evenly);
    @include flex-wrap(wrap);
    @include align-content(center);
}

.timeline--container {
    max-width      : 370px;
    margin         : 20px;
    vertical-align : top;

    @include flex(370px 0 0);
}

.work--container {
    vertical-align : top;
    margin         : 20px;

    @include flex(480px 0 0);
}

.projects--container {
    display : block;

    @include flex(480px 1 1);
}

@media (max-width : 500px) {
    .timeline--container, .work--container {
        margin : 10px 0 10px 10px
    }
}