@import "scss/variables.scss";
@import "scss/mixins.scss";

body {
    margin           : 0;
    padding          : 0;
    font-family      : sans-serif;
    min-width        : 320px;
    overflow-x       : hidden;
    @include linear-gradient(#D4E1FA, #edf2fd)
}

* {
    box-sizing : border-box;
}

body, #root {
    min-height : 100vh;
}

h1{
    font-size:25px;
}

h2 {
    color : $dark-highlights;
    font-size:20px;
}