@import "scss/variables.scss";
@import "scss/mixins.scss";

body {
    min-width   : 320px;
    margin      : 0;
    padding     : 0;
    font-family : sans-serif;
    overflow-x  : hidden;
}

* {
    box-sizing : border-box;
}

body, #root {
    min-height : 100vh;
}

h1 {
    font-size : 25px;
}

h2 {
    color     : $dark-highlights;
    font-size : 20px;
}

main {
    z-index          : -1;
    max-width        : $max-app-width + 40px;
    padding          : 0 20px;
    margin           : 30px auto auto;
    background-color : #FFFFFF99;
}

@media (max-width : $max-app-width + 100px) {
    main {
        margin : 0 auto auto;
    }
}

/* fonts */
@import 'Linearicons.scss';