@import "scss/variables.scss";
@import "scss/mixins.scss";

body {
    min-width             : 320px;
    margin                : 0;
    padding               : 0;
    font-family           : sans-serif;
    overflow-x            : hidden;

    @include linear-gradient(#CDDCFA, #EDF2FD);
    background-attachment : fixed;
}

* {
    box-sizing : border-box;
}

body, #root {
    min-height : 100vh;
}

h1 {
    font-size : 25px;
}

h2 {
    color     : $dark-highlights;
    font-size : 20px;
}