@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transition($transition...) {
    /* defining prefixes so we can use them in mixins below*/
    $prefixes:      ("-webkit", "-ms", "-o",  "");
    @each $prefix in $prefixes {
        #{$prefix}-transition: $transition;
    }

    transition: $transition;
}
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}