@import '../../scss/mixins.scss';

$transition-duration : .5s;

.shiny-component {
    position : relative;
    overflow : hidden;
    @include transition(all $transition-duration);

    &.with-shadow {
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12));
    }

    &:before {
        content          : "";
        background-color : rgba(255, 255, 255, 0.5);
        height           : 100%;
        width            : 30px;
        display          : block;
        position         : absolute;
        top              : 0;
        margin-left      : -100%;
        transform        : skewX(-45deg);
        transition       : none;
        @include transition(all $transition-duration);
    }
}

.shiny-component:hover {
    &.is-call-to-action {
        cursor : pointer;
    }

    &.rescale-on-hover {
        @include transform(scale(1.05))
    }

    &.rescale-on-hover.with-shadow {
        @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
    }

    &:before {
        transform   : skewX(-45deg);
        margin-left : 60%;
    }
}